<!DOCTYPE html>
{%load static%}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="icon" href="{%  static 'favicon1.ico' %} "type= "image/icon">
        <title>
            {%block title%}
            {%endblock%}
            
        </title>
        
        
        
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        {%block css%}
        {%endblock%}
        <script src="{% static 'fontawesome/js/all.min.js' %}"></script>
       
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-social/5.1.1/bootstrap-social.css" />
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
        
        
        <style>
          .footer {
          position: fixed;
          left: 0;
          bottom: 0;
          width: 100%;}
        </style>
    </head>
    <body >
        {%include 'navbar.html'%}
        
        {%block body%}

        {%endblock%}
        
    </body>
       
    <!-- Footer -->
<footer class="page-footer font-small mdb-color lighten-2 pt-3" style="background-color: #ced4da;">

    <!-- Footer Links -->
    <div class="container  text-md-left">
  
      <!-- Grid row -->
      <div class="row">
  
        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 mr-auto my-md-4 my-0 mt-4 mb-1">
  
          <!-- Content -->
          <h5 class="font-weight-bold text-uppercase mb-4 text-center">Expert Classes</h5>
          <p class="text-center">Working:<br>
          Monday to Saturday<br>
          Timing :<br> 7 AM - 6 PM</p>
  
        </div>
        <!-- Grid column -->
  
        <hr class="clearfix w-100 d-md-none">
  
        <!-- Grid column -->
        
  
        <hr class="clearfix w-100 d-md-none">
  
        <!-- Grid column -->
        <div class="col-md-5 col-lg-5 mx-auto my-md-4 my-0 mt-4 mb-1">
  
          <!-- Contact details -->
          <h5 class="font-weight-bold text-uppercase mb-4 text-center">Address</h5>
  
          <ul class="list-unstyled">
            <li>
              <p>
                <i class="fas fa-home mr-3"></i> Channamma Samadhi Road, Bailhongal, Karnataka</p>
            </li>
            <li>
              <p>
                <i class="fas fa-envelope mr-3"></i> expertcomputer153@gmail.com</p>
            </li>
            <li>
              <p>
                <i class="fas fa-phone mr-3"></i> +91  8550855843</p>
            </li>
            
          </ul>
  
        </div>
        <!-- Grid column -->
  
        <hr class="clearfix w-100 d-md-none">
  
        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 text-center mx-auto my-4">
  
          <!-- Social buttons -->
          <h5 class="font-weight-bold text-uppercase mb-4 text-center">Follow Us</h5>
          <a type="button" class="btn-floating btn-gplus" href="https://chat.whatsapp.com/LjPD6F0sDkW0K9WiEdJ01r">
            <i class="fab fa-whatsapp" style="font-size: 50px;"></i>
          </a>
  
          <!-- Facebook -->
          <a type="button" class="btn-floating btn-fb" href="https://www.facebook.com/expert_computer_centre-104185434903022/">
            <i class="fab fa-facebook-f" style="font-size: 50px;"></i>
          </a>&nbsp;&nbsp;
          <!-- Twitter -->
          
          <!-- Google +-->
          <a type="button" class="btn-floating btn-gplus" href="https://www.instagram.com/invites/contact/?i=1a013fmucptqq&utm_content=kqab5oz">
            <i class="fab fa-instagram" style="font-size: 50px;"></i>
          </a>
         

  
        </div>
        <!-- Grid column -->
  
      </div>
      <!-- Grid row -->
  
    </div>
    <!-- Footer Links -->
  
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2020 Copyright: Chidambar Joshi
      {%if not user.is_authenticated%}
      <div class="float-right">
      <a type="button" class="btn-floating" href="/login" style="font-size:x-large ; color: green;">
        <i class="fa fa-user" aria-hidden="true"></i>
     </a></div>
     {%endif%}
    </div> 
    <!-- Copyright -->
  
  </footer>
  <!-- Footer -->

</html>