{%extends 'base.html'%}
{%load static%}
{%block title%}
Student Details
{%endblock%}
{%block body%}
<div class="container"style="height: 100%;">
    <br>
    {% if messages %}
    <ul >
    <center>
        {% for message in messages %}
        <p{% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %}>{{ message }}</p>
        {% endfor %}
    </center>
    </ul>
    {% endif %}
    <br>
    
        
        <div class="row">
        <div class="col-md-4">
            <form method="POST" >
                {% csrf_token %}
        
            <label>Year of Addmission:</label>
            <select class="control" name="add_year" id="add_year" onchange='this.form.submit()'>
                <option >Select Year</option>

                <option value="all" {%if selected_year == 'all' %}selected{% endif %}>All</option>

                {% for year in year_dropdown %}

                <option value="{{year}}" {%if selected_year == year %}selected{% endif %}>{{year}}</option>
                {% endfor %}
            </select>
        
        </form>
        </div>
        <div class="col-md-4">
            <form class="form-inline" method="post">
                {% csrf_token %}
                <div class="form-group has-search ">
                    <span class="fa fa-search form-control-feedback"></span>
                    <input type="text" id='search ' name='search' class="control " placeholder="Search" onchange='this.form.submit()'>
                </div>
              </form>
        </div>    
        <div class= "col-md-4">
            Number of students:<strong> {{students|length}}</strong> 
        </div>
    </div>
    
    <hr>

    <table class="table" >
        <thead>
            <th scope="col">#</th>
            <th scope="col">Student ID</th>
            <th scope="col">Name</th>
            <th scope="col">Course</th>
            <th scope="col">Time</th>
           
           
            <th scope="col">Edit/Delete</th>
            
        </thead>
        <tbody>
            {%for s in students%} 
            <tr>
                <th scope="row">{{forloop.counter}}</th>
                <td>{{s.student_id}}</td>
                <td><a href="/details/{{s.id}}"><button type="button" class="btn btn-link">{{s.stud_name}}</button></a></td>
                <td>{{s.course}}</td>
                <td>{{s.des_time}}</td>
                
                <td>
                    <a href="/studedit/{{s.id}}">
                  <button type="button" class="btn btn-link"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-pencil-square" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                    <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                  </svg></button>
                  </a>|
                &nbsp; <a href="/stud_del/{{s.id}}" style="color: red;"><i class="fa fa-times" aria-hidden="true"></i></a></td>
            </tr>
            
            {%endfor%}


        </tbody>
    </table>
</div>
{%endblock%}